@model IEnumerable<PortalClientesCoprTranser.Models.Facturacion.Facturas>
@{
    ViewBag.Title = "Estado Cartera";
    Layout = "~/Views/_Layouts/_LayoutPrincipal.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Inicio", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Facturación</li>
        <li class="breadcrumb-item active" aria-current="page">Estado Cartera</li>
    </ol>
</nav>

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="alert alert-primary">
        <a href="#" class="close" data-dismiss="alert">×</a>
        @Html.ValidationSummary(true, "Aviso:")
        @Html.ValidationMessage("Error")
    </div>
}
else
{
    <div class="container-fuid">
        <div class="row">
            <div class="col" style="text-align: left;">
                <h3>Estado de Cartera</h3>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    
    <div class="row cont-Col">
        <div id="cont-tableEstCart" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card card-Transparente">
                <div class="card-header text-left">
                    <i class="fas fa-list-ol"></i>Listado
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table id="table_FactPendientes" class="display table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="6">Información de la factura</th>
                                    <th colspan="6">Distribucion por edad</th>
                                </tr>
                                <tr>
                                    <th>Factura</th>
                                    <th>Emite</th>
                                    <th>Vence</th>
                                    <th>Valor</th>
                                    <th>Abonos</th>
                                    <th>Saldo</th>
                                    <th>Corriente</th>
                                    <th>0-30</th>
                                    <th>31-60</th>
                                    <th>161-90</th>
                                    <th>Mas de 90</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FACTURA</td>
                                        <td>@item.FECEMITE</td>
                                        <td>@item.FECVENCE</td>
                                        <td>
                                            <span class="money">@item.VALOR_FACT</span>
                                        </td>
                                        <td>
                                            <span class="money">@item.ABONOS</span>
                                        </td>
                                        <td>
                                            <span class="money">@item.SALD_ACTUAL</span>
                                        </td>
                                        <td>
                                            <span class="money">@item.CORRIENTE</span>
                                        </td>
                                        <td>

                                            <span class="money">@item.MES1</span>
                                        </td>
                                        <td>
                                            <span class="money">@item.MES2</span>
                                        </td>
                                        <td>
                                            <span class="money">@item.MES3</span>
                                        </td>
                                        <td>
                                            <span>
                                                <span class="money">@item.MES4</span></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <script>
                                $(function () {
                                    $('.money').formatCurrency();
                                })
                            </script>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}